# Ignore build artifacts
objs

# Ignore cub3d
cub3d

# Ignore all object files in complete-lib
complete_lib/*/*.o

# Ignore specific static libraries
complete_lib/42_GNL/libgnl.a
complete_lib/42_Libft/libft.a
complete_lib/42_Printf/libftprintf.a

# Ignore VSCode settings
.vscode
